body {
    background-color: #eee;
}

.micaja {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 3px;
    border-top: solid 0px;
}
.contenido {
    padding: 10px;
    text-indent: 15px;
}

.header {
    padding: 10px;
    border-bottom: solid 1px #eee;
    text-align: center;
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
}

.footer {
    padding: 10px;
    border-top: solid 1px #eee;
}

.primario {
    background-color: #0090ff;
    border: 0px;
    padding: 5px;
    color: #fff;
}

.secundario {
    background-color: #aaa;
    border: 0px;
    padding: 5px;
    color: #fff;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: hotpink;
    background-color: red;
}

a:link {
    color: pink;
}

a:visited {
    color: blue;
}

a:active {
    color:black;
}

a:hover {
    color: gray;
    text-decoration: underline;
    background-color: orange;
}

ul {
    background-color: #ccc;
    width: 300px;
    border-radius: 5px;
    margin: 30px;
    border: solid 1px #000;
    padding-left: 0;
}

ul li {
    list-style-type: circle;
}